.radios-group{
    font-family: Montserrat-Regular;
    font-size: 15px;
    margin: 15px 30px;
}

.btn-rounded-blue{
    color: white;
    font-weight: 500;
    background-color: rgb(5, 5, 85);
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
}