<div class="container m-t-20">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="card-presentation">
                <h2 class="chapter-title">
                    Azerriuirioiortkrrk
                </h2>
                <div class="full-text">
                sfjljlhjlhjhjkshjkhfjkhgjkg hdjkhjkfgjk dfhgjkh dgjkhdgjkhgjkdhjkhj  dkhjkhdfjk fdhjkhjhdjkhjkbgdjkbgdjkbjhkbjkb djkbghbghdbkbgghkbgdbkbgkdbghkbhddbdghdbhbghbfhbdhkbghkbdbgdhkbhkbgkbdjbdbdjkbjkbgjdbgjbdjkbj
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="card-video-presentation">
                <h2 class="chapter-title">
                    Video descriptive
                </h2>
                <div style="box-shadow: 3px 3px 3px 3px grey;">
                    <video height="100%" width="100%"  controls>
                        <source src="movie.mp4" type="video/mp4">
                      Your browser does not support the video tag.
                    </video> 
                </div>
            </div>

        </div>
    </div>
</div>