.chapter-title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    font-style: italic;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 20px;
    color: rgb(9, 9, 94);
}

.part-title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.full-text{
    font-family: Montserrat-Regular;
    font-size: 15px;
    word-wrap: break-word;
}



.card-presentation{
    margin-top: 20px;
    box-shadow: 3px 0px grey;
    min-height: 500px;
    padding: 20px;
}

.card-present{
    margin-top: 20px;
    box-shadow: 3px 3px 2px 2px grey;
    min-height: 400px;
    padding: 20px;
}