
<div class="container">
    <div class="container-fluid" *ngFor="let course of coursesList">
        <a [routerLink]="['/course', course.id]">
            <div class="row">
                <div class="col-12 mt-3">
                    <div class="card" style="box-shadow: 2px 2px 1px 1px grey;">
                        <div class="row">
                            <div  class="col-md-4 col-sm-4">
                                <img style='height: 100%; width: 100%; object-fit: fill' src="{{imageDomainUrl}}" alt="Card image cap">
                            </div>
                            <div class="card-body col-md-8 col-sm-8" >
                                <h4 class="card-title m-text26">{{course.name}}</h4>
                                <p class="m-text18" style="overflow-y: hidden;">{{course.text_description}}</p>
                                <div class="row">
                                    <div class="col-md-10 col-sm-10" style="text-align: right;" >
                                        <button class="btn btn-info" >S'inscrire</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted"></small>
                        </div>
                    </div>
                </div>
            </div>

        </a>
    </div>
</div>