<!-- <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-4" *ngFor="let a of [1,2,5,8,7,644,4,5,4,545,4,6,9]">
        <a>
            <div class="rounded-card" style="margin: 10px">
                <div class="m-text26"> Les Diodes shfgsdjhfgsjhfgsjhsfgfsdjh </div>
            </div>
        </a>
    </div>
</div> -->
<div class="container">
    <div class="container-fluid" *ngFor="let course of coursesList">
        <a>
            <div class="row">
                <div class="col-12 mt-3">
                    <div class="card" style="box-shadow: 2px 2px 1px 1px grey;">
                        <div class="row">
                            <div  class="col-md-4 col-sm-4">
                                <img style='height: 100%; width: 100%; object-fit: fill' src="{{imageDomainUrl}}" alt="Card image cap">
                            </div>
                            <div class="card-body col-md-8 col-sm-8" >
                                <h4 class="card-title m-text26">{{course.name}}</h4>
                                <p class="m-text18" style="overflow-y: hidden;">{{course.text_description}}</p>
                                <div class="row">
                                    <div class="col-md-10 col-sm-10" style="text-align: right;" >
                                        <button class="btn btn-info" >S'inscrire</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>
            </div>

        </a>
    </div>
</div>