<div class="background-des">
    <div class="form-card" style="width: 80%">
        <h1>Ajout section cours à la plateforme</h1>
        <form [formGroup]="courseSectionForm">
            <div class="form-group m-t-20 mb-5">
                <input type="text" formControlName="name" style="height: 50px" class="form-control"
                    [ngClass]="{'red-border' : courseSectionForm.get('name').invalid && courseSectionForm.get('name').dirty}"
                    placeholder="Nom de la section" />
                <div *ngIf="courseSectionForm.get('name').invalid && courseSectionForm.get('name').dirty"
                    class="error-label">
                    <div
                        *ngIf="(courseSectionForm.get('name').hasError('pattern') || courseSectionForm.get('name').hasError('required')) && courseSectionForm.get('name').dirty">
                        <i class="fa fa-exclamation-circle"></i> Ce champ ne doit pas être vide !
                    </div>
                </div>
            </div>
            <div class="form-group m-t-20 mb-5">
                <textarea rows="10" formControlName="textContent" class="form-control"
                    [ngClass]="{'red-border' : courseSectionForm.get('textContent').invalid && courseSectionForm.get('textContent').dirty}"
                    placeholder="Contenu de la section">
                </textarea>
                <div *ngIf="courseSectionForm.get('textContent').invalid && courseSectionForm.get('textContent').dirty"
                    class="error-label">
                    <div
                        *ngIf="(courseSectionForm.get('textContent').hasError('pattern') || courseSectionForm.get('textContent').hasError('required')) && courseSectionForm.get('textContent').dirty">
                        <i class="fa fa-exclamation-circle"></i> Ce champ ne doit pas être vide !
                    </div>
                </div>
            </div>
            <div class="form-group mb-5">
                <select class="browser-default custom-select" formControlName="sectionParent">
                    <option value="" disabled selected> Sélectionnez la section parente </option>
                </select>
            </div>
            <div class="form-group mb-5">
                <select disabled="hasSectionParent" class="browser-default custom-select" formControlName="course">
                    <option value="" disabled selected> Sélectionnez le cours </option>
                </select>
            </div>

            <div class="form-group text-center m-t-40">
                <button [disabled]="courseSectionForm.invalid" class="btn btn-blue btn-flat" (click)="submit()">
                    Valider
                </button>
            </div>
        </form>
    </div>
</div>